@import url("fonts/roboto/font.css");
@import url("fonts/play/font.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Play';
  line-height: 1.2;
  color: #fff;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #222;
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
ul,
li {
  margin: 0;
  padding: 0;
}
* {
  outline: none;
  transition-duration: 0.2s;
}
section {
  padding: 30px;
  box-sizing: border-box;
}
h1 {
  font-size: 2.875rem;
  line-height: 1.2;
  font-family: 'Roboto Slab';
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  font-size: 1.875rem;
  line-height: 1;
  font-family: 'Roboto Slab';
  margin-bottom: 10px;
}
.layout {
  min-width: 960px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-height: 1080px;
  position: relative;
  margin: 0 auto;
}
.header {
  position: absolute;
  max-width: 1280px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  display: flex;
}
.header-logo {
  width: 140px;
  height: 80px;
  margin-top: -10px;
  margin-right: 80px;
  background: url("icons/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
}
.header-anchors {
  font-size: 0.875rem;
  line-height: 1.414;
  font-family: 'Play';
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 60px;
  white-space: nowrap;
}
.header-anchors li {
  display: inline-block;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.header-geo {
  font-family: "Play";
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 12px;
  white-space: nowrap;
}
.header-geo__city {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px dotted #fff;
}
.header-geo__city.active {
  border-bottom: none;
}
.header-geo__phone {
  font-size: 1.4375rem;
  white-space: nowrap;
}
.header-geo__phone span {
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}
.header-contact {
  margin-top: 32px;
  white-space: nowrap;
}
.header-contact__item {
  display: inline-block;
  list-style-type: none;
}
.header-contact__link_call-me {
  border-bottom: 1px dotted #fff;
  margin-right: 15px;
}
.header-modals {
  position: absolute;
  display: flex;
  right: 30px;
}
.header-modals__menu {
  width: 20px;
  height: 20px;
  background: url("icons/menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}
.main-page-first.active {
  display: block;
}
.main-page-first {
  display: none;
  width: 100%;
  height: 100%;
  background: url("images/main-first.jpg");
  background-size: cover;
}
.main-page {
  display: flex;
  position: absolute;
  bottom: 60px;
}
.main-page__left {
  flex-basis: 50%;
  width: 50%;
}
.main-page__right {
  flex-basis: 50%;
  width: 50%;
}
.main-page__subtitle {
  font-size: 1.3125rem;
}
.main-page-form {
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
}
.main-page-form__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.main-page-form__input {
  font-family: 'Play';
  color: #fff;
  font-size: 0.8125rem;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
}
.main-page-form__submit {
  display: flex;
  margin-bottom: -25px;
}
.main-page-form__button {
  font-family: 'Play';
  font-size: 0.755rem;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  width: 49%;
  margin-right: 2%;
}
.main-page-form__button_filled {
  font-family: 'Play';
  font-size: 0.755rem;
  background: #7f018b;
  border: 1px solid #7f018b;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  width: 49%;
}
.main-page-first .main-page-content {
  padding-left: 20%;
  max-width: 350px;
  margin-bottom: 60px;
}
.main-page-first .main-page-content li {
  margin-bottom: 30px;
  list-style-type: none;
}
.main-page-links {
  width: 100%;
  display: flex;
}
.main-page-links span {
  background: rgba(255,255,255,0.4);
  padding: 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.6875rem;
}
.main-page-links-pages {
  margin-right: 30px;
  font-size: 0.9375rem;
}
.main-page-links-news {
  width: 40%;
}
.main-page-links-partners {
  margin-right: 30px;
}
.main-page-links-pages__item {
  list-style-type: none;
  margin-bottom: 5px;
}
@media (max-height: 720px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .main-page-form {
    margin-top: 20px;
  }
  .main-page-form__title {
    font-size: 1.1875rem;
  }
}
@media (max-width: 1280px) {
  .header-logo {
    width: 120px;
    margin-right: 40px;
  }
  .header-anchors {
    margin-right: 40px;
  }
  .header-geo {
    font-size: 0.75rem;
  }
  .header-anchors li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1140px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
.header-logo {
  width: 120px;
  margin-right: 40px;
}
.header-anchors {
  font-size: 0.6875rem;
  margin-right: 30px;
}
.header-geo {
  font-size: 0.6875rem;
}
.header-contact {
  font-size: 0.6875rem;
}
.header-anchors li {
  padding-left: 10px;
  padding-right: 10px;
}
.main-page-first .main-page-content {
  padding-left: 0%;
}
