//Roboto Slab
@import url('fonts/roboto/font.css')
//Play
@import url('fonts/play/font.css')
@import url('../js-libs/onepage-scroll/onepage-scroll.css')

html
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	font-family 'Roboto Slab'
	line-height 1.2
	width 100%
	height 100%
body
	padding 0
	margin 0
.clearfix:after{
	content "."
	display block
	height 0
	visibility hidden
	clear both
}

.layout
	min-width 960px
	max-width 1920px
	width 100%
	padding 30px
	box-sizing border-box

.header
	position absolute
	z-index 100

.main-slides
	min-height 600px
	max-height 1080px
.main-item
	position relative
.main-first
	background-image url(images/main-first.jpg)
	background-size cover
	background-position center center
	color #fff
	width 100%
	height 100%
.main-second
	background-image url(images/main-second.jpg)
	background-size cover
	background-position center center
	color #fff
	width 100%
	height 100%
.main-third
	background-image url(images/main-third.jpg)
	background-size cover
	background-position center center
	color #fff
	width 100%
	height 100%


/********		Заглушка		*******/
.main
	width 1280px
	height 800px
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	background-image url(images/background.jpg)
	background-size cover
	background-position center center
.main__info
	width 420px
	height 100px
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
.main__logo
	width 150px
	height 80px
	margin-top 60px
	background url(icons/logo.svg)
	background-repeat no-repeat
.main__text
	font-size 2.25rem
	color #fff
	font-weight 300
	text-transform uppercase
	letter-spacing 1px
.main__text span
	font-weight bold
