doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
		link(href="styles/default/js-libs/custom-scroll/jquery.custom-scrollbar.css",rel="stylesheet")
	body
		.plan
		.plan2
		.layout
			section.header
				.holder
					.header-logo
					.header-anchors
						ul
							li
								a(href="#") Продвижение<br>сайтов под ключ
							li
								a(href="#") Классическое<br>продвижение сайтов
							li
								a(href="#") Разработка<br>сайтов
					.header-geo
						.header-geo__cities
							ul
								li.header-geo__city Москва
								li.header-geo__city.active Казань
								li.header-geo__city Россия
						.header-geo__phone <span>+7 (843)</span> 555 05 05
					.header-contact
						.header-modals
							.header-modals__search <i class="fa fa-search" aria-hidden="true"></i>
							.header-modals__menu
						.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						.header-contact__item
							a(href="").header-contact__link Контакты

			section.contact
				.holder
					.contact-block.clearfix
						h1 Контакты
						.contact-block-left Казань, Островского, 87
							ul
								li.contact-block-phone <span>8 (843)</span> 217 55 29 <i>Казань</i>
								li.contact-block-phone <span>8 (495)</span> 525 11 48 <i>Москва</i>
								li.contact-block-phone <span>8 (800)</span> 102 20 83 <i>Россия</i>
							.contact-block-time
								span 10:00
								span 19:00
						.contact-block-right
							form(action="").contact-block-form
								h2.contact-block-form__title Написать нам
								input(type="text" placeholder="Имя").contact-block-form__input
								input(type="text" placeholder="Телефон").contact-block-form__input
								input(type="text" placeholder="Электронный адрес").contact-block-form__input
								input(type="text" placeholder="Ссылка на сайт").contact-block-form__input
								textarea(placeholder="Сообщение").contact-block-form__textarea
								.contact-block-form__submit
									button.contact-block-form__button Отправить

			section.footer
				.holder.clearfix
					.footer-block
						.footer-social
							ul
								li.footer-social__item
									a(href="").footer-social__link <i class="fa fa-vk" aria-hidden="true"></i>
								li.footer-social__item
									a(href="").footer-social__link <i class="fa fa-twitter" aria-hidden="true"></i>
								li.footer-social__item
									a(href="").footer-social__link <i class="fa fa-facebook" aria-hidden="true"></i>
								li.footer-social__item
									a(href="").footer-social__link <i class="fa fa-instagram" aria-hidden="true"></i>
						.footer-copyright &copy; Next-promo &mdash; 2017
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="styles/default/js-libs/custom-scroll/jquery.custom-scrollbar.js")
		script(src="styles/default/js/main.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
