doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		.layout
			section.header
				.header-logo
				.header-anchors
					ul
						li
							a(href="#") Продвижение<br>сайтов под ключ
						li
							a(href="#") Классическое<br>продвижение сайтов
						li
							a(href="#") Разработка<br>сайтов
				.header-geo
					.header-geo__cities
						ul
							li.header-geo__city Москва
							li.header-geo__city.active Казань
							li.header-geo__city Россия
					.header-geo__phone <span>+7 (843)</span> 555 05 05
				.header-contact
					ul
						li.header-contact__item
							a(href="").header-contact__link_call-me Перезвоните мне
						li.header-contact__item
							a(href="").header-contact__link Контакты
				.header-modals
					.header-modals__search
					.header-modals__menu
			section.main-page-first(data-page-scroll).active
				.main-page
					.main-page__left
						h1 Решаем задачу увеличения&nbsp;продаж
						.main-page__subtitle от 35 000 ₽ в месяц
						.main-page-form
							form(action="#")
								.main-page-form__title Готовы к лучшим результатам?
								input(type="text" placeholder="Имя").main-page-form__input
								input(type="text" placeholder="Телефон").main-page-form__input
								input(type="text" placeholder="Электронный адрес").main-page-form__input
								input(type="text" placeholder="Ссылка на сайт").main-page-form__input
								.main-page-form__submit
									button(type="submit").main-page-form__button Оставить заявку
									button(type="submit").main-page-form__button_filled Хочу со скидкой
					.main-page__right
						.main-page-content
							ul
								li
									h2 Ярко
									| Сделаем так, чтобы среди всех Ваших конкурентов заметили именно Вас
								li
									h2 Эффективно
									| Задействуем все инструменты для достижения максимальных результатов
								li
									h2 Ответственно
									| Работаем в соответствии с зафиксированными в договоре гарантированными показателями эффективности
						.main-page-links
							.main-page-links-pages
								span Узнать больше
								ul
									li.main-page-links-pages__item
										a(href="") Как это работает
									li.main-page-links-pages__item
										a(href="") Почему это работает
									li.main-page-links-pages__item
										a(href="") Пртфолио
							.main-page-links-news
								span Актуально
								.main-page-links-news__date
								.main-page-links-news__title
							.main-page-links-partners
								span С нами работают

		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="styles/default/js/main.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
