doctype html5
html
	head
		title
		meta(charset="utf-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(http-equiv="content-language", content="ru")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="styles/default/css/style.css",rel="stylesheet")
	body
		section.header
			.layout
				.header__logo Шапка
				.header__anchors
				.header__geo
				.header__contact
				.header__modals
		section.main-slides
			.main-item.main-first
				.layout 123
			.main-item.main-second
				.layout 456
			.main-item.main-third
				.layout 789
		section.footer
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="styles/default/js-libs/onepage-scroll/jquery.onepage-scroll.min.js")
		script(src="styles/default/js/main.js")
		script(src="https://use.fontawesome.com/e04476514d.js")
